*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    
}

body{
    background-color: black;
    color: white;
    overflow: hidden;
}

.container{
    display: flex; 
    height: 100vh;
    padding: 0.5rem 0.5rem;
}
.sidebar{
    width: 340px;
    background-color: black;
    border-radius: 1rem;
    margin-right:0.5rem;
}

.main-cont{
    flex: 1;
    background-color: #121212;
    overflow: auto;
    border-radius: 1rem;
    padding:0 1.5rem 0 1.5rem;
}

.musicplayer{
    position: fixed;
    background-color: black;
    bottom: 0;
    border-radius: 1rem;
    height: 78px;
    width: 100vw;
}

.nav{
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: white;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}
.nav-home{
    line-height: 2.25rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-home i{
    font-size: 1.25rem; 
}
.nav-home a{
    font-size: 1rem;
    color: white;
    margin-left: 1rem;
}

.nav-home:hover{
    opacity: 1;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height:100%;
    margin-top:0.5rem;
    padding:0.5rem 0.75rem;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lab-opt img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    display: flex;
    font-size: 1.25rem;
}
.icons i{
    margin-right: 1.25rem;
    opacity: 0.7;
}
.icons:hover i{
    opacity: 1;
}

.sm-box{
    height: 8rem;
    width:13.75rem;
    background-color: #232323;
    padding: 0.75rem 1rem;
    border-radius: 0.8rem;
    margin: 0.75rem 0 1.75rem 0;
}

.box-p1{
    font-size: 1rem;
    font-weight: 600;
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;

}
.badge{
    font-weight: bolder;
    border:none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

p{
    padding-top: 0.35rem;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.nav-icons{
    margin-left: 0.75rem;
}

.nav-icons img{
    height: 1rem;
    width: 1rem;
    padding-top:0.25rem; 
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1.5rem;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.mini-card{
    background-color:#232323;
    width: 150px;
    margin-top: 1rem;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 1rem;

}
.bore{
     width: 100%;
     border-radius: 1rem;
}

.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.5rem;
}

h2{
    margin:1.5rem 0 1rem;
}

.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height: 50%;
    width:90%;
    border-top: 1px solid white;
    opacity: 0.3;
}

.musicplayer{
    display: flex;
}
.left-mu{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: flex-start;
    padding: 0.25rem 0.25rem 0.5rem 0.5rem;
}

.upper{
    font-weight: 300;
    font-size: 1.15rem;
    margin-left: 0.55rem;
}
.upper:hover{
    text-decoration: underline;
}
.lower {
    font-size: 0.75rem;
    opacity:0.6;
    margin-left: 0.55rem;
}

.lower:hover{
text-decoration: underline;
}

.album{
    border-radius: 1rem;
}

.lf-icons{
    padding: 0 0.5rem 0 1rem;
}

.locon{
    margin-left: 0.75rem;
}

.player{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: space-around;

.lower-player{
    margin-right: 20px;
}
}
.pause{
    height: 1rem;
    padding: 0 0.75rem 0.5rem 0.75rem;
    margin-right: 15px;
    opacity: 0.6;
}
.big{
    height:1.5rem;
    opacity: 0.9;
}
.time-range{
    width: 380px;
    appearance: unset;
    background-color: transparent;
    cursor: pointer;
}

.pause:hover{
    opacity: 2;
}

.time-range::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:100px;
    height: 0.15rem;
    margin-bottom: 3px;
}

.time-range::-webkit-slider-thumb{
    appearance: unset;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top:-6px;
}

.ini-time{
font-size: 0.85rem;
}

.fin-time{
    font-size: 0.85rem;
}

.last-cont{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

.controlls{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1.5rem;
}

.last-speaker::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:100px;
    height: 0.15rem;
    appearance: unset;
}

.last-speaker::-webkit-slider-thumb{
    appearance: unset;
    height: 0.15rem;
    background-color:white;
    border-radius: 50%;
    margin-top:-6px;
}

.last-speaker{
    width: 3.8rem;
    margin: 0;
}
.controlls i{
    font-size: 0.9rem;
    opacity: 0.7;
    cursor: pointer;
}

.controlls i:hover{
    opacity: 1;
}

